#main-image, #main-logo {
  display: block;
  margin: 0 auto
}

.recipe-text {
  column-count: 2;
}

#chilli:hover, #felafal:hover, #pasta:hover, #guac:hover, #spicemix:hover {
  transform: scale(1.5);
}

.recipe-images {
  align-content: space-around;
}
