* {
  max-width: 1920px;
}

header, aside, footer {
  border: 1px solid green;
}

header {
  width: 100%;
  height: 20vh;
}

.centre-panels {
  display: inline-flex;
}

aside {
  width: 15vw;
  /* height: 75vh; */
  padding: 1em;
}

main {
  width: 85vw;
  border: solid 1px pink;
  background-color: orange;
}

footer {
  width: 100%;
  height: 20vh;
}

header .main-menu, header .sub-menu {
  list-style-type: none;
}

.logo {
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.main-menu, li {
  display: inline;
  align-items: baseline;
  padding-right: 3em;
  border: 1px solid magenta;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 5.9em;
  display: none;
}

.recipe-copy {
  column-count: 2;
  column-gap: normal;
  background-color: rgba(255, 255, 255, 0.5);
  height: 65vh;
  margin: 3em;
  padding: 2em;
}
